body {
    margin: 10%;
}
.code {
  font-family: monospace; 
}
#metric-function {
  font-family: monospace; 
  background-color: #292929;
  color: #fff;
  margin-left: 20px;
  font-size: .9em;
}
.state-map {
    max-width: 200px;
}