body {
    margin: auto;
    position: relative;
}

#narrative-carousel-container {
  background-color: #777;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#narrative-carousel a {
  color: hsl(208, 98%, 70%);
}

#narrative-carousel a:focus {
  color: hsl(208, 98%, 53%);
}

#narrative-carousel a:hover {
  color: hsl(208, 98%, 53%);
}

.carousel-inner {
  height: 500px;
}

.carousel-control-prev {
  background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
}

.carousel-control-next {
  background-image: linear-gradient(to left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
}

.code {
  font-family: monospace; 
}

.metric-function {
  font-family: monospace; 
  background-color: #292929;
  color: #fff;
  margin-left: 20px;
  font-size: .9em;
}

.state-map {
    max-width: 200px;
}
.alert-warning {
    margin-left: 10%;
    margin-right: 10%;
}

#js-sandbox {
    border: 0; 
    width: 0px; 
    height: 0px;
}

.head-image {
  width: 100px;
  height: 105px;
}

.red {
  background-color: crimson;
  color: #fff;
  text-align: center;
}

.blue {
  background-color: dodgerblue;
  color: #fff;
  text-align: center;
}

.green {
  background-color: darkgreen;
  color: #fff;
  text-align: center;
}

.yellow {
  background-color: goldenrod;
  color: #fff;
  text-align: center;
}

.fat-district-bar {
  height: 50px;
  line-height: 50px;
}

.deemphasize {
  background-color: lightgrey;
  color: #fff;
  text-align: center;
  min-height: 50px;
}

.wasted {
  opacity: 0.4;
}

div.smaller {
  font-size: .75rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

@media (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }
}
