body {
    margin: 5%;
    position: relative;
}
.code {
  font-family: monospace; 
}

.metric-function {
  font-family: monospace; 
  background-color: #292929;
  color: #fff;
  margin-left: 20px;
  font-size: .9em;
}

.state-map {
    max-width: 200px;
}
.alert-warning {
    margin-left: 10%;
    margin-right: 10%;
}

 #js-sandbox {
    border: 0; 
    width: 0px; 
    height: 0px;
}


.clippy {
  width: 13px;
}

.head-image {
  width: 100px;
  height: 105px;
}

.modal-button {
  margin: 5px;
}
